<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Bank Transfer</h2>
        <li>
        BENEFICIARY NAME: THE LIONS TRADING LTD
        </li>
        <li>
         BANK NAME : NOOR BANK P.J.S.C
        </li>
        <li>
         SWIFT CODE/BIC : NISLAEAD
        </li>
        <li>
        BRANCH NAME / ADDRESS : EMAAR BUSINESS PARK SH .ZAYED ROAD .
        </li>
        <li>
        CITY : DUBAI
        </li>
        <li>
         POST CODE : 8822
        </li>
        <li>
         COUNTRY : UNITED ARAB EMIRATES
        </li>
        <li>
          ACCOUNT NUMBER : 00110698750015
        </li>
        <li>
         IBAN NUMBER : AE350520000110698750015
        </li>
        <br>
        <p>Payment possible with card.</p>

        <div class=" text-center padded features">
          <div class= "cantainer">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <%= image_tag 'gold1.jpg' %>
                  <h2>Gold</h2>
                  <p>50.000 £ </p>
                  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="WQ77FCDKWBCD2">
                  <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                  </form>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <%= image_tag 'car.jpeg' %>
                  <h2>Trade Cars</h2>
                  <p>60.000 £</p>
                  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="L66SZELTJ9R3G">
                  <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                  </form>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <%= image_tag 'petrol.jpg' %>
                  <h2>WTI Oil</h2>
                  <p>100.000 £</p>
                  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="HTXMFMTPQNQME">
                  <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                  </form>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class=" text-center padded features">
          <div class= "cantainer">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <%= image_tag 'market.jpeg' %>
                <h2>Top Financial Products</h2>
                <p>500.000 £ </p>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2EVF4LBQA3RK2">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
              <div class="col-xs-12 col-sm-4">
                <%= image_tag 'phil.jpg' %>
                <h2>Philantropic invest</h2>
                <p>Enter your donation amount</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="N6XDHXT6BA9G4">
                <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
              <div class="col-xs-12 col-sm-4">
                <%= image_tag 'don.jpeg' %>
                <h2>Donation</h2>
                <p>Enter your donation amount</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="T3KUC47D3BM6N">
                <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>






