<%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
   <div id="error_explanation">
    <ul>
      <%@product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
   </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :sku %>
    <%= f.input :price %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
